bin/
src/**/**.o
valgrind-out.txt
callgrind.out.*

vendor/wxWidgets-3.2.2.1/buildgtk/
vendor/wxWidgets-3.2.2.1/config.log

vendor/sqlite3/*.o

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.cmake/
.idea/
.ninja_deps
.ninja_log
Testing/
build.ninja
